<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/head :: head}"></head>

<body style="padding-bottom: 50px;">
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="container">
        <section layout:fragment="content">
            <!-- Page specific content will be inserted here -->
        </section>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>